<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISplitterService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:31454/SplitterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISplitterService"
                contract="SS.ISplitterService" name="BasicHttpBinding_ISplitterService" />
        </client>
    </system.serviceModel>
</configuration>