@{
    ViewBag.Title = "Про проект";
}

<div class="AboutText">Дана інтерактивно-інформаційна система, що дозволяє зручним чином організовувати навчальний процес з точки зору контролю успішності та надавати інформативний сервіс всім його учасникам. Система орієнтується ВУЗи із подібною до 
КНУ ім. Тараса Шевченка структурою та кредитно-модульною системою оцінювання. Користувачі системи поділяються за типами та в залежності від нього наділяються різними правами доступу.
</div>
