@model ThinClient.Models.LoginModel

@{
    ViewBag.Title = "Вхід";
}

<form method="post" action="">
    <div id="LoginForm">
        <table>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.Login, new { @class = "TextField", placeholder = "Введіть логін...", tabindex = 5 })
                </td>
                <td rowspan="2">
                    <input id="LoginButton" class="Button" type="submit" value="" tabindex="7"/>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.PasswordFor(m => m.Password, new { @class = "TextField", placeholder = "Введіть пароль...", tabindex = 6 })
                </td>
            </tr>
        </table>
    </div>
</form>
