@model ThinClient.Models.UserPageModel
@{
    ViewBag.Title = "Сторінка користувача";
}

<table>
    <tr>
        <td>
            <div id="UserPicture">
                <img src="~/Content/userpic.png" />
            </div>
        </td>
        <td>
            <div class="BoldLabel">
                @Model.Name
            </div>
            <div>
                @Model.AdditionalInfo
            </div>
        </td>
    </tr>
</table>
<br />
<div>
    <div class="Label">
        Останні події:
    </div>
    <table style="width: 100%;">
        @foreach (var n in Model.Notifications)
        {
            <tr>
                <td>
                    <div class="InteractiveListItem">
                        <div style="font-weight: 600">@n.Date.ToString()</div>
                        <div>@n.Message</div>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>


 
