<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UniversityEntities" connectionString="metadata=res://*/StudyingControllerEntityModel.csdl|res://*/StudyingControllerEntityModel.ssdl|res://*/StudyingControllerEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Integrated Security=True;Initial Catalog=UniversityDB;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>