body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    background-color: rgb(240, 240, 240);
}

a {
    background: none;
    color: deepskyblue;
    text-decoration: none;
}

    a:hover {
        color: black;
        text-decoration: none;
    }

.Content {
    margin: 0 auto;
    max-width: 960px;
    float: none;
    background-color: rgb(230, 230, 230);
}

/*#LoginBar  {
    float: right;
    text-align: left;
    padding: 5px;
    max-width: 150px;

}

    #LoginBar a {
        text-decoration: none;
        background-color: lightgray;
        border-radius: 3px;
        padding: 2px;
    }*/

#LoginForm {
    /*max-width: 300px;*/
}
    #LoginForm ol {
        list-style: none;
    }

    
.HomePageHeader {
    text-align: center;
}

#MainContent {
    min-height: 500px;
}

#Footer {
    color: deepskyblue;
    background-color: lightgray;
    text-align: center;
}

ul#Menu {
    font-size: 1.3em;
    font-weight: 600;
}

    ul#Menu li {
        display: inline;
        list-style: none;
        background-color: lightgray;
        padding: 3px !important; 
        margin: 2px;
    }


#ErrorPanel {
    color: red;
    text-align: center;
}

.AboutText {
    text-align:center;
}

#UserPicture {
    width: 128px;
    height: 128px;
    background-color: transparent;
}

.BoldLabel {
    color: black;
    font-weight: bold;
}

#NotificationItem {
    background-color: lightgray;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
}

    #NotificationItem:hover {
        color: deepskyblue;
        cursor: pointer;
    }

