body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    background-color: rgb(240, 240, 240);
}

a {
    background: none;
    color: deepskyblue;
    text-decoration: none;
}

    a:hover {
        color: black;
        text-decoration: none;
    }

.Content {
    margin: 0 auto;
    max-width: 960px;
    float: none;
    background-color: rgb(230, 230, 230);
}

/*#LoginBar  {
    float: right;
    text-align: left;
    padding: 5px;
    max-width: 150px;

}

    #LoginBar a {
        text-decoration: none;
        background-color: lightgray;
        border-radius: 3px;
        padding: 2px;
    }*/

#LoginForm {
    display: table;
    margin: auto auto;
    padding-top: 200px;
}
    
.HomePageHeader {
    text-align: center;
}

#MainContent {
    min-height: 500px;
    margin: 20px;
}

#Footer {
    color: deepskyblue;
    background-color: lightgray;
    text-align: center;
}

#Menu {
    font-size: 1.3em;
    font-weight: 600;
}

    #Menu li {
        display: inline;
        list-style: none;
        background-color: lightgray;
        padding: 3px !important; 
        margin: 2px;
    }

#ErrorPanel {
    color: red;
    text-align: center;
}

.AboutText {
    text-align:center;
    margin: 0px 40px 0px 40px;
}

#UserPicture {
    width: 128px;
    height: 128px;
    background-color: transparent;
}

.BoldLabel {
    color: black;
    font-weight: bold;
}

.Label {
    color: deepskyblue;
    padding: 5px;
    font-weight: bold;
}

.InteractiveListItem {
    background-color: lightgray;
    margin: 2px;
    padding: 5px;
}

    .InteractiveListItem:hover {
        color: deepskyblue;
        cursor: pointer;
    }

.Button {
    background-color: lightgray;
    color: deepskyblue;
    border: none;
    padding: 5px;
}

    .Button:hover {
        color: black;
        cursor: pointer;
    }

.TextField {
    border: none;
}

#LoginButton {
    width: 45px;
    height: 45px;
    background-image: url(../Content/loginArrow.png);
    background-repeat: no-repeat;
}

.ListItem {
    background-color: lightgray;
    margin: 2px;
    padding: 5px;
}

.OpenIcon {
    width: 16px;
    height: 16px;
    background-image: url(../Content/openIcon.png);
    display: block;
    text-indent: -9999px;
}

.GridHeaderStyle {
    border-width: 1px;
    border-color: black;
}