<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IControllerService" maxReceivedMessageSize="20000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4225/ControllerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IControllerService"
                contract="SCS.IControllerService" name="BasicHttpBinding_IControllerService" />
        </client>
    </system.serviceModel>

  <system.diagnostics>
    <!-- This logging is great when WCF does not work. -->
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="d:\client_traces.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>